[submodule "vendor/asciiio"]
	path = vendor/asciiio
	url = git://github.com/sickill/ascii.io-cli.git
[submodule "vendor/mackup"]
	path = vendor/mackup
	url = git://github.com/lra/mackup.git
[submodule "vendor/nsenter"]
	path = vendor/nsenter
	url = git://github.com/jpetazzo/nsenter.git
