[Desktop Entry]
Type=Application
Exec=gnome-terminal --window-with-profile=Tmux
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=Tmux
GenericName=Tmux
